# Exploratory Data Analysis 
First I will explore the dataset to gain an insight which will help to define the next steps

In [11]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

df = pd.read_csv("data/raw.csv", sep=" ") # The file use space to separate columns
df.head

<bound method NDFrame.head of      A11   6  A34  A43  1169  A65  A75  4  A93  A101  ...  A121  67  A143  \
0    A12  48  A32  A43  5951  A61  A73  2  A92  A101  ...  A121  22  A143
1    A14  12  A34  A46  2096  A61  A74  2  A93  A101  ...  A121  49  A143
2    A11  42  A32  A42  7882  A61  A74  2  A93  A103  ...  A122  45  A143
3    A11  24  A33  A40  4870  A61  A73  3  A93  A101  ...  A124  53  A143
4    A14  36  A32  A46  9055  A65  A73  2  A93  A101  ...  A124  35  A143
..   ...  ..  ...  ...   ...  ...  ... ..  ...   ...  ...   ...  ..   ...
994  A14  12  A32  A42  1736  A61  A74  3  A92  A101  ...  A121  31  A143
995  A11  30  A32  A41  3857  A61  A73  4  A91  A101  ...  A122  40  A143
996  A14  12  A32  A43   804  A61  A75  4  A93  A101  ...  A123  38  A143
997  A11  45  A32  A43  1845  A61  A73  4  A93  A101  ...  A124  23  A143
998  A12  45  A34  A41  4576  A62  A71  3  A93  A101  ...  A123  27  A143

     A152  2  A173  1  A192  A201 1.1
0    A152  1  A173  1  A191  A201   2
1    A152  1  A172  2  A191  A201   1
2    A153  1  A173  2  A191  A201   1
3    A153  2  A173  2  A191  A201   2
4    A153  1  A172  2  A192  A201   1
..    ... ..   ... ..   ...   ...  ..
994  A152  1  A172  1  A191  A201   1
995  A152  1  A174  1  A192  A201   1
996  A152  1  A173  1  A191  A201   1
997  A153  1  A173  1  A192  A201   2
998  A152  1  A173  1  A191  A201   1

[999 rows x 21 columns]>

In [10]:
print(list(df.columns))

['A11', '6', 'A34', 'A43', '1169', 'A65', 'A75', '4', 'A93', 'A101', '4.1', 'A121', '67', 'A143', 'A152', '2', 'A173', '1', 'A192', 'A201', '1.1']

The columns names are not defined in the csv file, so we change them in the file reading function

In [13]:
columns_names = ["Status", "Duration", "History", "Purpose", "Amount", "Savings", "Employment", "Installment_Rate", 
                 "Personal_Status", "Other_Debtors", "Residence_Years", "Property", "Age", "Other_Installments", "Housing",
                 "Existing_Credits", "Job", "Num_People_Liable", "Telephone", "Foreign_Worker", "Target"]

df = pd.read_csv("data/raw.csv", sep=" ", header=None, names=columns_names)
print(list(df.columns))
df.head

['Status', 'Duration', 'History', 'Purpose', 'Amount', 'Savings', 'Employment', 'Installment_Rate', 'Personal_Status', 'Other_Debtors', 'Residence_Years', 'Property', 'Age', 'Other_Installments', 'Housing', 'Existing_Credits', 'Job', 'Num_People_Liable', 'Telephone', 'Foreign_Worker', 'Target']

<bound method NDFrame.head of     Status  Duration History Purpose  Amount Savings Employment  \
0      A11         6     A34     A43    1169     A65        A75
1      A12        48     A32     A43    5951     A61        A73
2      A14        12     A34     A46    2096     A61        A74
3      A11        42     A32     A42    7882     A61        A74
4      A11        24     A33     A40    4870     A61        A73
..     ...       ...     ...     ...     ...     ...        ...
995    A14        12     A32     A42    1736     A61        A74
996    A11        30     A32     A41    3857     A61        A73
997    A14        12     A32     A43     804     A61        A75
998    A11        45     A32     A43    1845     A61        A73
999    A12        45     A34     A41    4576     A62        A71

     Installment_Rate Personal_Status Other_Debtors  ...  Property Age  \
0                   4             A93          A101  ...      A121  67
1                   2             A92          A101  ...      A121  22
2                   2             A93          A101  ...      A121  49
3                   2             A93          A103  ...      A122  45
4                   3             A93          A101  ...      A124  53
..                ...             ...           ...  ...       ...  ..
995                 3             A92          A101  ...      A121  31
996                 4             A91          A101  ...      A122  40
997                 4             A93          A101  ...      A123  38
998                 4             A93          A101  ...      A124  23
999                 3             A93          A101  ...      A123  27

     Other_Installments Housing Existing_Credits   Job Num_People_Liable  \
0                  A143    A152                2  A173                 1
1                  A143    A152                1  A173                 1
2                  A143    A152                1  A172                 2
3                  A143    A153                1  A173                 2
4                  A143    A153                2  A173                 2
..                  ...     ...              ...   ...               ...
995                A143    A152                1  A172                 1
996                A143    A152                1  A174                 1
997                A143    A152                1  A173                 1
998                A143    A153                1  A173                 1
999                A143    A152                1  A173                 1

     Telephone Foreign_Worker Target
0         A192           A201      1
1         A191           A201      2
2         A191           A201      1
3         A191           A201      1
4         A191           A201      2
..         ...            ...    ...
995       A191           A201      1
996       A192           A201      1
997       A191           A201      1
998       A192           A201      2
999       A191           A201      1

[1000 rows x 21 columns]>